#SignInput::placeholder{
    color: rgb(218, 216, 216);
}

#SignInput:focus{
    outline:none;
}

form{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
}

div{
    height: 90vh;
}

@media screen and (max-width: 480px){
    #SignForm {
        width: 75vw !important;
    }

    #SignForm input{
        width: 50% !important;
        font-size: 14px !important;
    }
}