@inject NavigationManager Navigation
@page "/SignIn"

@code {
    private string email = "";
    private string password = "";

    private void RedirectToHome()
    {
        Navigation.NavigateTo("/");
    }
}


<PageTitle>Sign In</PageTitle>

<div class="d-flex justify-content-center align-items-center h-100 position-absolute w-100 ">
    <div id="banner" class="position-absolute bg-dark d-flex align-items-center text-align-center justify-content-center text-light w-100">
        <h1 class="fs-1 fw-bold" @onclick="RedirectToHome">StoreMe</h1>
    </div>
    <form id="SignForm" class="d-flex z-0 justify-content-center align-items-center bg-light flex-column w-25 border border-black h-75 rounded">
        <h1 class="fs-1 mb-3 fw-bold font-monospace">Sign In</h1>

        <label class="fs-4 mb-2 fw-medium font-monospace">Email</label>
        <input id="SignInput" type="email" placeholder="user@example.com" @bind="email" class="mb-3 w-50 bg-light border-top-0 border-end-0 border-start-0"/>

        <label class="fs-4 mb-2 fw-medium font-monospace">Password</label>
        <input id="SignInput" type="password" placeholder="****" @bind="password" class="mb-3 border-top-0 w-50 bg-light border-end-0 border-start-0 text-align-left"/>
        
        <a class="fs-6 text-dark mt-3 text-decoration-none font-monospace fw-medium" id="SignUpRedirect">Sign Up!</a>
        <button class="mt-4 btn btn-lg btn-outline-primary">Sign In</button>
    </form>
</div>
