@inherits LayoutComponentBase

<PageTitle>StoreMe</PageTitle>

<div class="page">
    
    <NavMenu />
  

    <main>
        <div id="Body">
        @Body
        </div>
    </main>
</div>
