#Navbar[b-sqlnzzhpqp]{
    height: 10%;
    width: 100%;
    text-align: center;
    align-items: center;
    top: 0;
    position: absolute;
    border-bottom: 1px solid black;
}

#Header[b-sqlnzzhpqp]{
    padding-left: 2vw;
    font-size: 28px;
    color: white;
}
#Hamburger[b-sqlnzzhpqp]{
    display: none;
}

#NavItem[b-sqlnzzhpqp]{
    height: 5vh;
    width: 7vw;
    text-decoration: none;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#NavItem:hover[b-sqlnzzhpqp]{
    background-color: rgb(114, 114, 232) !important;
    border-radius: 20px;
}

#MobileNavbar[b-sqlnzzhpqp]{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    animation: expandNavbar-b-sqlnzzhpqp 0.5s forwards ease-in-out;
}

#NavbarClose[b-sqlnzzhpqp]{
    font-size: 1.5rem;
    color: rgb(158, 156, 156);
    position: absolute;
    right: 0;
    margin-top: 1.5vh;
    margin-right: 2.5vw;
}

@keyframes expandNavbar-b-sqlnzzhpqp {
    0% {
        height: 10vh;
    }
    100% {
        height: 100vh;
    }
}

#MobileNavItem[b-sqlnzzhpqp]{
    color: rgb(102, 174, 233);
    text-decoration: none;
    font-size: 2rem;
    align-self: flex-end;
    padding-right: 5vw;
    padding-top: 5vh;
}

@media screen and (max-width: 480px){
   #Navbar[b-sqlnzzhpqp]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 10vh;
    width: 100%;
   }

   #Header[b-sqlnzzhpqp]{
    padding-left: 0;
    font-size: 2.4rem;
   }

   #NavItem[b-sqlnzzhpqp]{
    display: none;
   }

   #Hamburger[b-sqlnzzhpqp]{
    position: absolute;
    display:block;
    right: 0;
    top: 0;
    margin-top: 15px;
   }
}
